## ignore source code zip files
*.zip

## ignore baby example
example/

# ignore extracted source code folder
*_src/

# ignore extracted solution code folder
*_sln/

# Visual Studio
Debug/
Release/
.vs/
*.vcxproj*
*.sln